.example-icon {
  padding: 0 14px;
}

.full-width{
  width: 100%;
  height: 97%;
}

.chat-room-div{
  width: 15%;
  float: left;
  height: 91%;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
}

.chat-div{
  width: 79%;
  float: left;
  height: 89%;
  margin-left: 10px;
}

.chat-room-div mat-list {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.chat-room-div .mat-list-item-ripple.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.chat-room-div .mat-list-item-ripple:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
