<div class="full-width">
  <div class="chat-header-div">
    <mat-toolbar>
      <mat-form-field>
        <input matInput placeholder="Create chat room" [(ngModel)]="chatRoomName" name="chatRoomName">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createChatRoom()">Create</button>
    </mat-toolbar>
  </div>
  <div class="chat-room-div">
    <mat-list>
      <h3 mat-subheader>Rooms</h3>
      <mat-list-item *ngFor="let chatRoom of messengerService.chatRooms" [class.selected]="chatRoom === selectedChat" (click)="onChatSelected(chatRoom)">
        <mat-icon mat-list-icon>face</mat-icon>
        <h4 mat-line>{{chatRoom.name}}</h4>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="chat-div">
    <app-chat-room [chat]="selectedChat"></app-chat-room>
  </div>
</div>
