  <div *ngIf="!chat">
    <h2>Select a chat room!</h2>
  </div>

  <div *ngIf="chat" class="chat-room-messages">
    <h2>Current chat: {{chat.id}}:{{chat.name}}</h2>
    <ul class="chat">
      <li *ngFor="let msg of chat.messages">
        {{msg}}
      </li>
    </ul>
  </div>
  <div class="chat-room-input">
    <form class="message-form">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="message" placeholder="Type a message here" (keyup.enter)="sendMessage()" name="message">
      </mat-form-field>
      <button mat-mini-fab color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">play_arrow</mat-icon>
      </button>
    </form>
  </div>
